.About__contant {
    color: #fff;
    padding: 50px 0px;
    
    *{
        text-align: center;
    }
    h2{
        font-size: 40px;
    }
    h3{
        font-size: 20px;
        margin-top: 25px;
    }
    p{
        font-size: 16px;
        margin-top: 20px;
    }
    ul{
        margin-top: 10px;
    }
}
