
.PageNumberButton{
    
    color: #fff;
    font-size: 16px;
    border-radius: 50%;
    height: 25px;
    transition: all 0.5s linear;
    width: 25px;
}
.PageNumberButton:hover{
    background-color: rgba(255, 255, 255, 0.5);
}


.page-change-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 60px;
}
.page-change-wrapper.noVisible{
    display: none;
}

.page-num-buttons{
    display: flex;
    align-items: center;
    gap: 8px;
}

@media (max-width: 500px)  {
    .page-num-buttons{
        gap: 2px;
    }
    .page-change-wrapper{
        gap: 5px;
    }
    .PageNumberButton{
        width: 20px;
        height: 20px;
    }
}