.change-page-arrowButton{
    background-color: rgba(241, 159, 7, 1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    height: 40px;
    width: 40px;
    align-items: center;
    transition: background-color 0.2s linear;
}
.change-page-arrowButton:hover{
    background-color: rgba(241, 159, 7, 0.7);
}
.change-page-arrowButton:disabled{
    background-color: rgba(241, 159, 7, 0.7);
}
.arrowBox{
    width: 12px;
    height: 12px;
    position: relative;
}

.arrowBox span{
    bottom: 0;
    transform: rotate(-45deg);
}
.arrowBox::after{
    transform: rotate(45deg);
    top: 0;
}
.arrowBox::after, .arrowBox span{
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    background-color: #fff;
    content: "";
    height: 2px;
    width: 15px;
    border-radius: 1px;
}
.last{
    transform: rotate(180deg);
}
.active-page{
    height: 27px;
    width: 27px;
    background-color: #fff;
    border-radius: 50%;
    font-size: 17px;
}
