.container{
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 15px;
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
  color: inherit;
  font-size: inherit;
}
h3{
  font-size: 30px;
  color: #fff;
}